<div id="main">
    <app-header></app-header>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="containerSlider">
                <div class="centered">
                    <p id="title">Farm</p>
                    <p class="sub">Management</p>
                    <p class="sub">system</p>
                </div>
                <img class="d-block w-100" src="/assets/slider1.jpg" alt="First slide">
            </div>
        </div>
        <h1>Records</h1>
        <div class="container-fluid">
            <div class="row">
                <ng-template #jump let-data let-n="name" let-d="data" let-i="image">
                    <div class="col-md-3 col-sm-4">
                        <div class="a-box">
                            <div class="img-container">
                                <div class="img-inner">
                                    <div class="inner-skew">
                                        <img src={{i}}>
                                    </div>
                                </div>
                            </div>
                            <div class="text-container">
                                <h3>{{n}}</h3>
                                <div>
                                    {{d}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div routerLink="/home">
                    <ng-container
                        *ngTemplateOutlet="jump; context:{name: 'Daily Records', data: 'View/Update Daily Chicken Records', image: 'assets/DailyRecord.jpg'}">
                    </ng-container>
                </div>
                <div routerLink="/feed">
                    <ng-container
                        *ngTemplateOutlet="jump; context:{name: 'Feed', data: 'View or Update Feed Records here', image:'assets/feed.jpg'}">
                    </ng-container>
                </div>
                <div routerLink="/saleHome">
                    <ng-container
                        *ngTemplateOutlet="jump; context:{name: 'Sales / Weight', data: 'View Sales and Weight Records', image: 'assets/saleRecord.jpg'}">
                    </ng-container>
                </div>
                <div routerLink="/vaccine">
                    <ng-container
                        *ngTemplateOutlet="jump; context:{name: 'Vaccination', data: 'View or Update Vaccination Records', image: 'assets/vaccine.jpg'}">
                    </ng-container>
                </div>
                <div routerLink="/expenses">
                    <ng-container
                        *ngTemplateOutlet="jump; context:{name: 'Daily Expenses', data: 'View/Update Daily Expenses Records', image: 'assets/expense.jpg'}">
                    </ng-container>
                </div>
            </div>
        </div>

        <div id="map">
            <google-map height="450px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                    [title]="marker.title" [options]="marker.options">
                </map-marker>
            </google-map>
        </div>
        <app-footer></app-footer>
    </div>