<div id="main">
    <app-header></app-header>
    <div class="jumbotron jumbotron-fluid" style="background-color:#f4f4ec">
        <div class="container">
            <h1 style="font-family: 'Raleway'; font-weight:800; font-size: 25px;">Daily Expenses Details</h1>
            <p class="lead">View Daily Expenses Details Here</p>
            <hr class="my-4">

            <div id="root">
                <div class="container pt-5">
                    <div class="row align-items-stretch">
                        <div class="c-dashboardInfo col-lg-3 col-md-6">
                            <div class="wrap">
                                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Today
                                    Expenses</h4><span class="hind-font caption-12 c-dashboardInfo__count"></span>
                            </div>
                        </div>
                        <div class="c-dashboardInfo col-lg-3 col-md-6">
                            <div class="wrap">
                                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total
                                    Expense</h4><span class="hind-font caption-12 c-dashboardInfo__count"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>