table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 15px;
    width: 100%;
    
  }
  
 .container{
    margin: 0 auto;
 }

 .form{
  font-size: 13px
  
 }

 a{
   display: block;
   width: 300px;
   font-size: 20px;
 }
 .data{
   float: right;
   padding-right:13%
 }

 div{
  font-family: 'Poppins', sans-serif;
 }
 

@media print{
  button{
    display: none;
  }
  .mat-form-field {
    display: none;
  }
  .mat-paginator{
    display: none;
  }

}