<div id="main">
  <app-header></app-header>
  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="bi bi-geo-alt-fill"></i>
            <div class="topic">Address</div>
            <div class="text-one">IT Park, Abbottabad</div>
          </div>
          <div class="phone details">
            <i class="bi bi-telephone-fill"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+92 310 5054604</div>
          </div>
          <div class="email details">
            <i class="bi bi-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">ahsanusman002@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>If you appreciate my work or have any types of quries, you can send me message from here. It's my pleasure
            to help you.</p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Enter your name">
            </div>
            <div class="input-box">
              <input type="text" placeholder="Enter your email">
            </div>
            <div class="input-box message-box">

            </div>
            <div class="button">
              <input type="button" value="Send Now">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <app-footer></app-footer>
</div>