<h1 class="display-4 text-center" style="font-family: 'Assistant', sans-serif; font-weight: 600;">Daily Records</h1>
<div mat-dialog-content>
    <form [formGroup]="farmForm">
        <mat-form-field appearance="outline">
            <mat-label>Select Date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Age</mat-label>
            <input formControlName="age" matInput #age maxlength="2" placeholder="Enter Age">
            <mat-hint>{{age.value.length}} / 2</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mortality</mat-label>
            <input formControlName="mortality" matInput type="number" placeholder="Enter Mortality">
            <mat-hint>Mortality Rate Today</mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Feed</mat-label>
            <input formControlName="feed" matInput type="number" placeholder="Enter Feed">
            <mat-hint>Enter Feed in Sack</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Used Feed</mat-label>
            <input formControlName="usedFeed" matInput type="number" placeholder="Enter Used Feed">
            <mat-hint>Used Feed Sacks</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Diesel</mat-label>
            <input formControlName="diesel" matInput type="number" placeholder="Enter Diesel Details">
            <mat-hint>Diesel Details</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Weight</mat-label>
            <input formControlName="weight" matInput type="number" placeholder="Enter Weight">
            <mat-hint>Weight Details</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Note</mat-label>
            <textarea formControlName="note" matInput placeholder="Enter Any Additional Information Here."></textarea>
            <mat-hint>Any Additional Information</mat-hint>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="AddData()">{{actionBtn}}</button>
</div>