    <footer class="container-fluid bg-grey py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="logo-part">
                                <img src="/assets/logo.png" class="w-50 logo-footer">
                                <p>Lahore, Pakistan</p>
                                <p>Fresh and organic chicken</p>
                            </div>
                        </div>
                        <div class="col-md-6 px-4">
                            <h6> About Company</h6>
                            <p>We deal in broiler.</p>
                            <a routerLink="/homeapp/about" class="btn-footer"> About Us</a><br>
                            <a routerLink="/homeapp/contact" class="btn-footer"> Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 px-4">
                            <h6>Important Links</h6>
                            <div class="row ">
                                <div class="col-md-6">
                                    <ul>
                                        <li> <a routerLink=""> Home</a> </li>
                                        <li> <a routerLink="/homeapp/about"> About</a> </li>
                                        <li> <a routerLink=""> Service</a> </li>
                                        <li> <a routerLink="/homeapp/contact"> Contact Us</a> </li>
                                        <li> <a routerLink=""> Help</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 px-4">
                                    <ul>
                                        <li> <a routerLink=""> Login</a> </li>
                                        <li> <a routerLink="/homeapp/signup"> Sign Up</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <h6> Newsletter</h6>
                            <div class="social">
                                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <form class="form-footer my-3">
                                <input type="text" placeholder="search here...." name="search">
                                <input type="button" value="Go">
                            </form>
                            <p>Sign up for Latest Updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
