<div id="main">
  <app-header></app-header>
  <div class="jumbotron jumbotron-fluid" style="background-color:#f4f4ec">
    <div class="container">
      <h1 style="font-family: 'Raleway'; font-weight:800; font-size: 25px;">{{'HOME.TITLE' | translate}}</h1>
      <p class="lead">{{'HOME.DAILYRECORDSDETAIL' | translate}}</p>
      <p class="mt-5" style="font-size:25px; color: #D8944E;" #brd>{{'HOME.TOTALBIRDS' | translate}} {{birdss}}</p>
      <hr class="my-4">

      <div id="root">
        <div class="container pt-5">
          <div class="row align-items-stretch">
            <div class="c-dashboardInfo col-lg-3 col-md-6">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">{{'HOME.MORTALITY' | translate}}</h4><span
                  class="hind-font caption-12 c-dashboardInfo__count">{{totalSum}}</span>
              </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">{{'HOME.DIESELUSED' | translate}}</h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">{{diesel}}</span>
              </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">{{'HOME.TOTALFEED' | translate}}</h4><span
                  class="hind-font caption-12 c-dashboardInfo__count">{{totalFeed}}</span>
              </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">{{'HOME.TOTALUSEDFEED' | translate}}</h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">{{usedFeed}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="root">
        <div class="container pt-5">
          <div class="row align-items-stretch">
            <div class="c-dashboardInfo col-lg-3 col-md-6">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">{{'HOME.TOTALWEIGHT' | translate}}</h4><span
                  class="hind-font caption-12 c-dashboardInfo__count">{{weight}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <mat-form-field appearance="outline">
          <mat-label>{{'HOME.TOTALBIRDS' | translate}}</mat-label>
          <input #birds matInput placeholder="Total Bird">
          <mat-hint>{{'HOME.ENTERTOTALBIRDS' | translate}}</mat-hint>
        </mat-form-field>
        <button class="btn mb-3 text-light" style="background-color: #D8944E;" (click)="SelectBird()">{{'HOME.ENTERTOTALBIRDS' | translate}}</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div style="margin-top: 10px ;">
      <button class="btn text-light" style="background-color: #D8944E;" (click)="openDialog()">{{'HOME.ADDDATA' | translate}}</button>
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Here" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="form" mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Age </th>
            <td mat-cell *matCellDef="let row" style="padding-left:6px; color: red;"> {{row.age}} </td>
          </ng-container>


          <ng-container matColumnDef="mortality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Mortality </th>
            <td mat-cell *matCellDef="let row"> {{row.mortality}} </td>
          </ng-container>

          <ng-container matColumnDef="cumMortality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Cum Mortality </th>
            <td mat-cell *matCellDef="let row;  let ind = index"> {{row.cumMortality[ind]}} </td>
          </ng-container>

          <ng-container matColumnDef="cumMortalityPercent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Cum Mortality Percent </th>
            <td mat-cell *matCellDef="let row; let c = index"> {{row.cumMortalityPercent[c] | number : '1.2-2'}}% </td>
          </ng-container>

          <ng-container matColumnDef="feed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Feed </th>
            <td mat-cell *matCellDef="let row"> {{row.feed}} </td>
          </ng-container>

          <ng-container matColumnDef="usedFeed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Used Feed </th>
            <td mat-cell *matCellDef="let row;"> {{row.usedFeed}} </td>
          </ng-container>

          <ng-container matColumnDef="cumFeed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Cum Feed </th>
            <td mat-cell *matCellDef="let row; let cf = index"> {{row.cumFeed[cf]}} </td>
          </ng-container>

          <ng-container matColumnDef="diesel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Diesel </th>
            <td mat-cell *matCellDef="let row"> {{row.diesel}} </td>
          </ng-container>


          <ng-container matColumnDef="cumDiesel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Cum Diesel </th>
            <td mat-cell *matCellDef="let row; let d=index"> {{row.cumDiesel[d]}} </td>
          </ng-container>

          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Weight </th>
            <td mat-cell *matCellDef="let row"> {{row.weight}} </td>
          </ng-container>


          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="form"> Note </th>
            <td mat-cell *matCellDef="let row"> {{row.note}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="editData(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteData(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[40, 80, 120, 160]" aria-label="Select page of users"></mat-paginator>
      </div>
      <button class="btn text-light mt-5 mb-5" style="background-color: #D8944E;" (click)="print()">{{'HOME.PRINT' | translate}}</button>

    </div>
  </div>
  <app-footer></app-footer>
</div>