
<nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: #F0D9BD;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand pl-5 pr-5" routerLink="">
      <img src="/assets/logo.png" class="d-inline-block align-top" alt="Farm Management System">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark ml-5" routerLink="">{{'HOME.HOME'| translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark ml-5" routerLink="/homeapp/about">{{'HOME.ABOUTUS'| translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark ml-5" routerLink="/homeapp/contact">{{'HOME.CONTACTUS'| translate}}</a>
        </li>
      </ul>
    </div>
</nav>
